MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=<database>
MONGO_COLLECTION=<collection-name>
JSONL_FILE=/app/data.jsonl

API_KEY="xxxxx..."
URL_WATSONX="https://us-south.ml.cloud.ibm.com"
PROJECT_ID="xxxxxxxxx-xxx..."